<h1>Listing persons</h1>

<table class="twelve">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.description %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Add Person', new_person_path, class: 'button' %>
