<p id="notice"><%= notice %></p>

<div id="parent" data-model="<%= @person.class.name %>" data-id="<%= @person.id %>">
	<p>
	  <b>Name:</b>
	  <%= @person.name %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @person.description %>
	</p>
</div>
<%= link_to 'Edit', edit_person_path(@person) %>

<br/><br/>

<div id="links">
	<%= render 'links/tbl', :parent => @person %>
</div>
<%= link_to 'Add link', '#', :class => "bt-add-link" %>

<br/><br/>

<%= link_to 'Back', people_path %>
