<h1>Listing corrupts</h1>

<table class="twelve">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @corrupts.each do |corrupt| %>
  <tr>
    <td><%= corrupt.name %></td>
    <td><%= corrupt.description %></td>
    <td><%= link_to 'Show', corrupt %></td>
    <td><%= link_to 'Edit', edit_corrupt_path(corrupt) %></td>
    <td><%= link_to 'Destroy', corrupt, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Add Corrupt', new_corrupt_path, class: 'button' %>
